html {
    background-image: url(../images/background2.png);
}

body {
    background-color: transparent !important;
    color: white !important;
}

#newGame {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

#hangman {
    height: 100%;
    width: 100%;
    padding: 15px;
}

img {
    display: block;
    margin: auto;
}

.mainContent {
    background-color: #191919;
    border-radius: 5px;
}

#guessWord {
    font-size: 50px;
}

#gameStatus {
    margin-bottom: 15px;
    font-size: 35px;
}

#winCount {
    margin-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #8D8B8B;
    border-color: #575757;
}

.btn-primary:hover {
    color: #fff;
    background-color: #575757;
    border-color: #575757;
}

#letterButtons li {
    display: inline;
    list-style:none;
    padding: 10px;
    border: 3px solid #8D8B8B;
    background-color: #8D8B8B;
    border-radius: 5px;
    margin-left: 5px;
}

#letterButtons li:hover {
    background-color: #575757;
    border: 3px solid #575757;
    cursor: pointer;
}

ul {
    padding-inline-start: 0px !important;
}

h4 {
    margin-bottom: 20px;
}

.clicked {
    border: none !important;
    background-color: lightgrey !important;
    color: black !important;
    border: 3px solid lightgrey !important;
}

.clicked:hover {
    border: none !important;
    background-color: lightgrey !important;
    border: 3px solid lightgrey !important;
}

.footer {
    background-color: #575757!important;
    border-top: 1px solid #8D8B8B;
  }

.bg-light {
    border-bottom: 1px solid #8D8B8B;
    background-color: #575757!important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

@media only screen and (max-width: 768px) {
    .sideBar {
      display: none;
    }
  }